# Настройки базы данных PostgreSQL
DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname

# Настройки Redis для Celery
REDIS_URL=redis://redis:6379/0

# Базовый URL для API Deribit
DERIBIT_BASE_URL=https://www.deribit.com/api/v2/public
